<h1 style="text-align:center">General inventory</h1>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex" (selectedIndexChange)="changed($event)">
    <mat-tab label="General stock by item">
    </mat-tab>
    <mat-tab label="General stock by PO#">
    </mat-tab>
    <!--<mat-tab label="Ready cashew">
    </mat-tab>
    <mat-tab label="All cashew by type">
    </mat-tab>
    <mat-tab label="Transctions">
    </mat-tab>-->
</mat-tab-group>
<search-group-details [mainDetailsSource]="generalSourceColumns">
</search-group-details>