<h1 style="text-align:center">Inventory reports</h1>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex"
(selectedIndexChange)="changed($event)">
    <mat-tab label="Transfers">
    </mat-tab>
    <mat-tab label="History">
        not implemnted yet
        <mat-form-field floatLabel="never" >
            <input matInput placeholder="Choose dates" [satDatepicker]="picker2" (dateChange)="inlineRangeChange($event.value)" [value]="dateRangeDisp">
            <sat-datepicker #picker2 [rangeMode]="true"></sat-datepicker>
            <sat-datepicker-toggle  matSuffix [for]="picker2"></sat-datepicker-toggle>
        </mat-form-field>
        
    </mat-tab>
</mat-tab-group>
<search-group-details [mainDetailsSource]="mainSourceColumns" (details)="openDialog($event)">
</search-group-details>
