# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/qc-images/BREAKAGE.jpg
src/assets/qc-images/DECAY.jpg
src/assets/qc-images/DEEP CUT.jpg
src/assets/qc-images/DEEP SPOT.jpg
src/assets/qc-images/DIRTY.jpg
src/assets/qc-images/MOLD.jpg
src/assets/qc-images/OFF COLOUR.jpg
src/assets/qc-images/RAW.jpg
src/assets/qc-images/ROASTED TESTA.jpg
src/assets/qc-images/ROASTED.jpg
src/assets/qc-images/SMALL SIZE.jpg
src/assets/qc-images/TESTA.jpg
src/assets/qc-images/TOTAL DEFECT ROASTING.jpg
src/assets/qc-images/TOTAL DEFECT.jpg
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/0.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/1.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/2.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/4.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/3.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/5.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/6.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/7.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/8.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/9.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/index.pack
.angular/cache/angular-webpack/83f97133c11901aef94d7f604bcbf1490a933249/index.pack.old
