<p>onlymine works!</p>

<mat-form-field>
  <mat-label *ngIf="selectedFiles; else newFile">
    <ng-container *ngFor="let img of selectedFiles"> {{img.name}}
    </ng-container>
    </mat-label>
  <ng-template #newFile>
      <mat-label>Choose file</mat-label>
  </ng-template>
  <input matInput disabled>
  <button mat-icon-button matSuffix (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
  </button>
  <input hidden (change)="selectFile($event)" multiple #fileInput type="file" id="file">
</mat-form-field>

<input  type="file" (change)="onFileSelected($event)"/>
<button (click)="onUpload()" > Upload to S3 </button>

<div *ngIf="progress > 0">
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>

<div *ngFor="let img of images">
    <button (click)="onGet(img)" > {{img}} </button>
</div>

<div *ngIf="fileUrl">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><img mat-card-image src="{{fileUrl}}" alt="Photo of a Shiba Inu"></mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
