<div *ngIf="loadingService.visibility | async">
  We are working on your requset
  <mat-spinner></mat-spinner>
</div>

<mat-toolbar color="accent" class="my-toolbar no-print">
  
  <!-- <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
fxShow="true" fxHide.lt-md="true" -->
    <h1 style="color: lightcoral;">AVC</h1>
    <span class="menu-spacer"></span>
    <div>
        
      
      <button mat-button [matMenuTriggerFor]="menuQc">QC</button>
      <mat-menu #menuQc="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="qcnew">New</button>
        <button mat-menu-item [matMenuTriggerFor]="qcreports">Reports</button>
        <!-- <button mat-menu-item routerLink='qcready/Cleaning'>Cleaning</button>
        <button mat-menu-item routerLink='qcready/Roasting'>Roasting</button>
        <button mat-menu-item routerLink='qcready/Packing'>Packing</button>
        <button mat-menu-item routerLink='qcready/Toffee'>Toffee</button>
        <button mat-menu-item routerLink='qcready/Machins'>Machins</button> -->
      </mat-menu>
      <mat-menu #qcnew="matMenu">
        <button mat-menu-item routerLink='qcready/Raw'>Raw Check (weights)</button>
        <button mat-menu-item routerLink='qcready/RawPercntage'>Raw Check (percntage)</button>
        <button mat-menu-item [routerLink]="['qcready/Raw', {roast: true}]">Roast Check (weights)</button>
        <button mat-menu-item [routerLink]="['qcready/RawPercntage', {roast: true}]">Roast Check (percntage)</button>
      </mat-menu>
      <mat-menu #qcreports="matMenu" >
        <button mat-menu-item [routerLink]="['qcready/AllQC', {number: 0}]">Raw Checks</button>
        <button mat-menu-item [routerLink]="['qcready/AllQC', {number: 1}]">Roast Checks</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuSupp" >Suppliers</button>
      <mat-menu #menuSupp="matMenu" >
        <button mat-menu-item routerLink='supready/NewSupplier' cdkFocusRegionStart>New Supplier</button>
        <button mat-menu-item routerLink='supready/Suppliers'>Suppliers</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="menuPOOrder" >Purchase Orders</button>
      <mat-menu #menuPOOrder="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="poordernew">New</button>
        <button mat-menu-item [matMenuTriggerFor]="orderscreports">Cashew Reports</button>
        <button mat-menu-item [matMenuTriggerFor]="ordersgreports">General Reports</button>
        <button mat-menu-item routerLink='ordready/PoCodesComponent'>#POS</button>
      </mat-menu>
      <mat-menu #poordernew="matMenu" >
        <button mat-menu-item routerLink='ordready/NewCashewOrder' cdkFocusRegionStart>Cashew</button>
        <button mat-menu-item routerLink='ordready/NewGenralOrder'>General</button>
      </mat-menu>
      <mat-menu #orderscreports="matMenu" >
        <button mat-menu-item [routerLink]="['ordready/OrdersCReports', {number: 0}]">Open</button>
        <button mat-menu-item [routerLink]="['ordready/OrdersCReports', {number: 1}]">All</button>
      </mat-menu>
      <mat-menu #ordersgreports="matMenu" >
        <button mat-menu-item [routerLink]="['ordready/OrdersGReports', {number: 0}]">Open</button>
        <button mat-menu-item [routerLink]="['ordready/OrdersGReports', {number: 1}]">All</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="menuReceiving">Receivings</button>
      <mat-menu #menuReceiving="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="newreceive">New</button>
        <button mat-menu-item [matMenuTriggerFor]="receivecreports">Cashew Reports</button>
        <button mat-menu-item [matMenuTriggerFor]="receivegreports">General Reports</button>
      </mat-menu>
      <mat-menu #newreceive="matMenu" >
        <button mat-menu-item routerLink='receiptready/ReceiveCOrder'>Cashew</button>
        <button mat-menu-item routerLink='receiptready/ReceiveGOrder'>General</button>
        <button mat-menu-item routerLink='receiptready/ReceiveCAlone'>Cashew Without Order</button>
      </mat-menu>
      <mat-menu #receivecreports="matMenu" >
        <button mat-menu-item [routerLink]="['receiptready/ReceiveCReports', {number: 0}]">Pending (Received)</button>
        <button mat-menu-item [routerLink]="['receiptready/ReceiveCReports', {number: 1}]">Received</button>
        <button mat-menu-item [routerLink]="['receiptready/ReceiveCReports', {number: 2}]">All</button>
      </mat-menu>
      <mat-menu #receivegreports="matMenu" >
        <button mat-menu-item [routerLink]="['receiptready/ReceiveGReports', {number: 0}]">Pending (Received)</button>
        <button mat-menu-item [routerLink]="['receiptready/ReceiveGReports', {number: 1}]">Received</button>
        <button mat-menu-item [routerLink]="['receiptready/ReceiveGReports', {number: 2}]">All</button>
      </mat-menu>
      

      <button mat-button [matMenuTriggerFor]="menuInve" >Inventory</button>
      <mat-menu #menuInve="matMenu" >
        <!-- <button mat-menu-item [matMenuTriggerFor]="inventorysnew">New</button> -->
        <button mat-menu-item routerLink='invready/RelocationCount'>New relocation Count</button>
        <button mat-menu-item [matMenuTriggerFor]="inventoryreports">Reports</button>
      </mat-menu>
      <!-- <mat-menu #inventorysnew="matMenu" >
        <button mat-menu-item routerLink='invready/MaterialExport'>Material Export</button>
        <button mat-menu-item routerLink='invready/TransferCount'>Transfer with weighing</button>
        <button mat-menu-item routerLink='invready/RelocationCount'>Relocation Count</button>
      </mat-menu> -->
      <mat-menu #inventoryreports="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="inventorycashews">Cashew</button>
        <button mat-menu-item [matMenuTriggerFor]="inventorygeneral">General</button>
        <!-- <button mat-menu-item [routerLink]="['invready/InventoryReports', {number: 0}]">Transfer</button> -->
        <button mat-menu-item [routerLink]="['invready/InventoryReports', {number: 0}]">Relocation With Samples</button>
        <!-- <button mat-menu-item routerLink='invready/CashewCount'>Cashew count</button>
        <button mat-menu-item routerLink='invready/GenralCount'>General count</button>
        <button mat-menu-item routerLink='invready/MaterialExportPo'>Material export by #PO</button>
        <button mat-menu-item routerLink='invready/MaterialExportItem'>Material export by item</button> -->
      </mat-menu>

      <mat-menu #inventorycashews="matMenu" >
        <button mat-menu-item [routerLink]="['invready/CashewInventory', {number: 0}]">By Item</button>
        <button mat-menu-item [routerLink]="['invready/CashewInventory', {number: 1}]">By PO#</button>
      </mat-menu>

      <mat-menu #inventorygeneral="matMenu" >
        <button mat-menu-item [routerLink]="['invready/GenralInventory', {number: 0}]">By Item</button>
        <button mat-menu-item [routerLink]="['invready/GenralInventory', {number: 1}]">By PO#</button>
      </mat-menu>

      <!-- <button mat-button [matMenuTriggerFor]="menuProducts" >Products</button>
      <mat-menu #menuProducts="matMenu" >
        <button mat-menu-item routerLink='products/CashewBags'>Cashew bags</button>
        <button mat-menu-item routerLink='products/Materials'>Materials</button>
      </mat-menu> -->


      <button mat-button [matMenuTriggerFor]="menuProduction" >Production</button>
      <mat-menu #menuProduction="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="productionnew">New</button>
        <button mat-menu-item [matMenuTriggerFor]="productionreports">Reports</button>
      </mat-menu>
      <mat-menu #productionnew="matMenu" >
        <button mat-menu-item routerLink='production/Cleaning'>Cleaning</button>
        <button mat-menu-item routerLink='production/Roasting'>Roasting</button>
        <button mat-menu-item routerLink='production/Packing'>Packing</button>
      </mat-menu>
      <mat-menu #productionreports="matMenu" >
        <button mat-menu-item [routerLink]="['production/Productions', {number: 0}]">Cleaning</button>
        <button mat-menu-item [routerLink]="['production/Productions', {number: 1}]">Roasting</button>
        <button mat-menu-item [routerLink]="['production/Productions', {number: 2}]">Packing</button>
        <!-- <button mat-menu-item [routerLink]="['production/Productions', {number: 3}]">History</button> -->
        <!-- <button mat-menu-item routerLink='production/Toffy'>Toffy</button> -->
      </mat-menu>

      
      <button mat-button [matMenuTriggerFor]="menuSchedules" >Schedules</button>
      <mat-menu #menuSchedules="matMenu" >
        <button mat-menu-item routerLink='schedules/ReceivingCashewSchedule'>Receiving Cashew</button>
        <button mat-menu-item routerLink='schedules/ReceivingGeneralSchedule'>Receiving General</button>
        <!-- <button mat-menu-item routerLink='schedules/ReceivingPlan'>Receiving plan</button>
        <button mat-menu-item routerLink='schedules/ProductionSchedule'>Production schedule</button> -->
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuReports" >Reports</button>
      <mat-menu #menuReports="matMenu">
        <button mat-menu-item routerLink='reports/FullPoReport'>Full PO# Details</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuCountiners" >Shipping</button>
      <mat-menu #menuCountiners="matMenu" >
        <!-- <button mat-menu-item routerLink='countiners/Booking'>Booking</button>
        <button mat-menu-item routerLink='countiners/Arrival'>Arrival</button> -->
        <button mat-menu-item routerLink='countiners/Loading'>Loading</button>
        <button mat-menu-item routerLink='countiners/CountinerReports'>Reports</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuManager" >Management</button>
      <mat-menu #menuManager="matMenu">
        <button mat-menu-item routerLink='manager/ManagerUsers'>Users</button>
        <button mat-menu-item routerLink='manager/ManagerSetup'>Setup</button>
        <button mat-menu-item routerLink='manager/ItemsSetup'>Items Setup</button>
        <button mat-menu-item routerLink='manager/ManagmentNotifications'>Notifications</button>
        <button mat-menu-item routerLink='manager/RemoveManagment'>Remove Managment</button>
        <!-- <button mat-menu-item routerLink='manager/ProductionPlan'>Production Plan</button> -->
      </mat-menu>

      <button mat-button [matBadge]="todo" matBadgePosition="above after" matBadgeColor="accent" routerLink='useraccount/Todo'>Tasks</button>
      <button mat-button [matBadge]="massages" matBadgePosition="above after" matBadgeColor="accent" routerLink='useraccount/Massages'>Massages</button>


      <!-- <button mat-button [matMenuTriggerFor]="menuTests">tests</button>
      <mat-menu #menuTests="matMenu">
        <button mat-menu-item routerLink='test/suppliers'>suppliers</button>
        <button mat-menu-item routerLink='test/orders'>orders</button>
        <button mat-menu-item routerLink='test/qc'>qc</button>
        <button mat-menu-item routerLink='test/managment'>managment</button>
        <button mat-menu-item routerLink='test/xlxsImport'>xlxsImport</button>
      </mat-menu> -->
      
    </div>
    <span class="example-spacer"></span>
    <button class="example-icon" mat-mini-fab (click)="onPrint()">
      <mat-icon>print</mat-icon>
    </button>
    <button class="example-icon" mat-mini-fab routerLink='useraccount/PassChange'>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button class="example-icon" mat-mini-fab (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <button class="example-icon" mat-mini-fab (click)="onInitilRefresh()">
      <mat-icon >refresh</mat-icon>
    </button>
  
</mat-toolbar>


<mat-sidenav-container fxFlexFill class="example-container" id="print-section">

  <mat-sidenav  #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
