<h1 style="text-align:center" i18n>QC Reports</h1>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex"
(selectedIndexChange)="changed($event)" class="spac-print">
    <mat-tab label="Raw QC" i18n-label>
    </mat-tab>
    <mat-tab label="Roast QC" i18n-label>
    </mat-tab>
    <!--<mat-tab label="Received">
    </mat-tab>
    <mat-tab label="History">
        not implemnted yet
        
    </mat-tab>-->
</mat-tab-group>
<search-group-details [mainColumns]="columnsShow" [detailsSource]="cashewSourceColumns" (details)="openDialog($event)">
</search-group-details>
