
table {
    text-align: center !important;
    /* margin: auto; */
    max-width: 100vw;
    overflow-x: auto;
    margin-right: 15px;
  }
  
  
  .change-color{
    display: block;
    width: fit-content;
  }
  
  
  .no-legend {
    border: 0 none;
  }
  
    
    .mat-row{
      background-color: white;
      }
      .mat-header-row {
        background-color: white;
      }
   
      tr.is-new {
        background: greenyellow;
      }
      
  
      tr.is-removed {
        text-decoration: line-through;
        /* background: red; */
      }
      
      .removed-item {
        text-decoration: line-through;
        /* background: red; */
      }
  
      .added-item {
        background: greenyellow;
      }
  
      .bold-cell {
        font-weight: bold;
      }

      /* label{
        float:left;
        width:100%;
        color: green;
        font-size: 0.8em;
     }
  
     span .half {float: left; width: 175px; padding: 1%; }
     .half { display: inline-block; width: 180px; } */

     .grid-container {
      margin: 20px;
    }
    
    .dashboard-card {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
    
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    
    .dashboard-card-content {
      text-align: center;
    }

    .mat-expansion-panel-header.mat-expanded,
    .mat-expansion-panel-header.mat-expanded:hover,
    .mat-expansion-panel-header.mat-expanded:focus {
        background-color:yellow;
    }

    label{
      float:left;
      width:100%;
      color: green;
      font-size: 0.8em;
   }

   span .half {float: left; width: 175px; padding: 1%;}
   .half { display: inline-block; width: 180px; overflow-wrap: break-word;}
   
   
    .table-look {
      display: flex;
      flex-direction:row;
      border: solid;
    }
    
    .col {
      flex: auto;
      display: flex;
      flex-direction: column;
    }
    
    .col:first-of-type {
      flex-flow: wrap;
    }
    
    /* .row .rowspan2 {
      flex: 1 1 100%;
    } */
    
    .col div {
      border:groove;
      padding: 1em;
      flex: auto;
    }

    .title{
      max-height: 40px;
    }