  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: auto;
  }
  
  
tr.is-new {
  background: burlywood;
}

tr.is-seen {
  background: yellowgreen;
}
  
  