<h1 style="text-align:center">Shipping reports</h1>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex"
(selectedIndexChange)="changed($event)">
    <mat-tab label="Loadings">
    </mat-tab>
    <mat-tab label="Arrivals">
    </mat-tab>
    <!-- <mat-tab label="History">
        not implemnted yet
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input (focus)="picker4.open()" (dateChange)="inlineRangeChange($event.value)" [formGroup]="dateRangeDisp" [rangePicker]="picker4">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-date-range-picker #picker4></mat-date-range-picker>
        </mat-form-field>
        
    </mat-tab> -->
</mat-tab-group>
<search-group-details [mainDetailsSource]="mainSourceColumns" [totelColumn]="totelColumn" (details)="openDialog($event)">
</search-group-details>
