<div class="centerButtons">
    <button mat-raised-button color="primary" routerLink='../Arrival' i18n>New Arrival</button>
    <button mat-raised-button color="primary" routerLink='../Loading' i18n>New Loading</button>
</div>
<h1 style="text-align:center" i18n>Shipping reports</h1>
<date-range-select (submitRange)="setDateRange($event)"></date-range-select>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex"
(selectedIndexChange)="changed($event)" class="spac-print">
    <mat-tab label="Arrivals" i18n-label>
      <mat-checkbox *ngIf="myGlobal.isMe" [(ngModel)]="withRealEta" (ngModelChange)="getRealEta()" [disabled]="withRealEta" i18n>Get real ETA (now only for one line later will add OOCL too)</mat-checkbox>
    </mat-tab>
    <mat-tab label="Loadings" i18n-label>
    </mat-tab>
</mat-tab-group>
<search-group-details [mainColumns]="columnsShow" [detailsSource]="mainSourceColumns" [totelColumn]="totelColumn" (details)="openDialog($event)">
</search-group-details>
