<h1 style="text-align:center" i18n>Productions reports</h1>
<div class="centerButtons">
    <button mat-raised-button color="primary" routerLink='../Cleaning' i18n>New Cleaning</button>
    <button mat-raised-button color="primary" routerLink='../Roasting' i18n>New Roasting</button>
    <button mat-raised-button color="primary" routerLink='../Toffee' i18n>New Toffee</button>
    <button mat-raised-button color="primary" routerLink='../Packing' i18n>New Packing</button>
</div>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex"
(selectedIndexChange)="changed($event)" class="spac-print">
    <mat-tab label="Cleaning" i18n-label>
    </mat-tab>
    <mat-tab label="Roasting" i18n-label>
    </mat-tab>
    <mat-tab label="Toffee" i18n-label>
    </mat-tab>
    <mat-tab label="Packing" i18n-label>
    </mat-tab>
    <!-- <mat-tab label="History">
        not implemnted yet
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input (focus)="picker4.open()" (dateChange)="inlineRangeChange($event.value)" [formGroup]="dateRangeDisp" [rangePicker]="picker4">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-date-range-picker #picker4></mat-date-range-picker>
        </mat-form-field>
        
    </mat-tab> -->
</mat-tab-group>
<search-group-details [mainColumns]="columnsShow"  [detailsSource]="cashewSourceColumns" [totelColumn]="totelColumn" (details)="openDialog($event)">
</search-group-details>